{% extends "base.html" %}
{% load static %}

{% block title %}難易度選択画面{% endblock %}

{% block css %}
    <link href="{% static 'css/loading.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}

        {% block content %}
        <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div id="difficulty-select">
                <h1 class="m-3">難易度を選択してください</h1>
                <form method="POST" id="loading-form">
                    {% csrf_token %}
                    <div class="form-check">
                        <label class="mr-3">
                            <input type="radio" name="selected_difficulty" value="elementary_school"> 小学生
                        </label>
                        <label class="mr-3">
                            <input type="radio" name="selected_difficulty" value="high_school"> 高校生
                        </label>
                        <label class="mr-3">
                            <input type="radio" name="selected_difficulty" value="society"> 社会人
                        </label>
                    </div>
                    <h3 class="m-3">ジャンルを選択してください</h3>
                    <div class="form-check">
                        <label class="mr-3">
                            <input type="radio" name="selected_genre" value="miscellaneous"> 雑学
                        </label>
                        <label class="mr-3">
                            <input type="radio" name="selected_genre" value="history"> 歴史
                        </label>
                        <label class="mr-3">
                            <input type="radio" name="selected_genre" value="it"> IT
                        </label>
                    </div>
                    <br>
                    {% if error_text %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_text }}
                    </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary" data-action-url="{% url 'game:difficulty' %}">新しい問題に挑戦！(生成に時間がかかります)</button>
                    <button type="submit" class="btn btn-primary"  data-action-url="{% url 'game:existing_difficulty' %}">既存の問題に挑戦！</button>
                </form>
            </div>
            <!-- ローディングのアニメーション -->
            <div class="wrapper" id="loading-container">
                <h1>Loading...</h1>
                <div class="box-wrap">
                    <div class="box one"></div>
                    <div class="box two"></div>
                    <div class="box three"></div>
                    <div class="box four"></div>
                    <div class="box five"></div>
                    <div class="box six"></div>
                </div>
                {% if trivia_text %}
                    <h4>豆知識</h4>
                    <p>{{ trivia_text }}</p>
                {% endif %}
            </div>
        </div>
        <script src="{% static 'js/loading.js' %}"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const form = document.getElementById("loading-form");
                const buttons = form.querySelectorAll(".btn-primary");
                buttons.forEach(button => {
                    button.addEventListener("click", function(event) {
                        const actionUrl = this.getAttribute("data-action-url");
                        form.setAttribute("action", actionUrl);
                    });
                });
            });
        </script>
        {% endblock %}