{% extends "base.html" %}

{% block title %}"問題"のある問題{% endblock %}

{% block content %}
<div class="container">
    <a class="btn btn-primary" href="{% url 'game:difficulty' %}">
        プレイ画面へ戻る
    </a>
    <div class="text-center">
        <h1 class="my-4">おかしな問題リスト</h1>
        <p>利用者からの指摘で発見された、精度の低かった問題一覧です</p>
    </div>
    <ul class="list-group">
        {% for problem in problems %}
        <li class="list-group-item">
            <h4 class="mb-3">{{ problem.question }}</h4>
            <p><strong>正解:</strong> {{ problem.answer }}</p>
            <p><strong>ヒント:</strong> {{ problem.hints }}</p>
            <p><strong>解説:</strong> {{ problem.commentary }}</p>
            {% if problem.falsification_answer == "T" %}
                <p><strong>本当の正解:</strong> {{ problem.true_commentary }}</p>
            {% endif %}
            <form action="{% url 'game:problem_thread' problem.id %}" method="get">
                <button type="submit" class="btn btn-primary">スレッドを見る</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}