{% extends "base.html" %}
{% load static %}

{% block title %}ゲーム画面{% endblock %}

{% block css %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
{% csrf_token %}
<div class="card text-center">
    <div class="card-header">
        <h1>
            第<span id="question_number">1</span>問
        </h1>
    </div>
    <div class="card-body">
        <p class="card-title" id="question"></p>
        <div id="hint_button">
            <button class="btn btn-primary" onclick="hint()">ヒント</button>
        </div>
        <p class="card-text" id="hint_text"></p>
        <div id="judge_button">
            <button class="btn btn-primary" onclick="judge('T')">True</button>
            <button class="btn btn-primary" onclick="judge('F')">False</button>
        </div>
        <p id="answer"></p>
        <h3 id="result"></h3>
        <p id="commentary"></p>
        <p id="points">現在のポイント: 0</p>
        <div id="objection_button">
            <div id="objection_action" style="display: none;">
                <button class="btn btn-danger" onclick="objection()">異議あり！</button>
            </div>
            <div class="text-center" id="objection_loading" style="display: none;">
                <p>審議中です...</p>
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <p id="judge"></p>
        <p id="actual_answer"></p>
        <p id="actual_commentary"></p>
    </div>
    <div class="card-footer text-body-secondary">
        <a id="google_hints" href="https://www.google.com/search?q=" class="btn btn-primary" target="_blank">ググる</a>
    </div>
</div>
<div id="next_button" style="display: none;">
    <button class="btn btn-primary m-4" onclick="next()">次へ</button>
</div>
<script>
    let index = 0;
    let points = 0;
    // 本当は間違った問題だったのを検出する
    let falsification = false;
    // 正しく指摘できた場合result結果が変わる
    let falsification_result = "none";
    // 間違った問題なのに正解した場合のフラグ
    let wrong_answer = false;
    // hintボタンを押さなくても発生してしまう無駄な処理を防ぐため
    let hint_click = false;
    const data = JSON.parse("{{ data|escapejs }}");

    window.onload = function setup() {
        document.getElementById("question").textContent = data[index]["question"];
    };

    function hint() {
        hint_click = true;
        document.getElementById("hint_button").style.display = "none";
        document
            .getElementById("google_hints")
            .setAttribute(
            "href",
            "https://www.google.com/search?q=" + data[index]["hints"]
            );
        if (
            document.getElementById("question").textContent == data[index]["question"]
        ) {
            document.getElementById("hint_text").textContent = data[index]["hints"];
        } else {
            document.getElementById("hint_text").textContent = "ヒントはありません";
        }
    }

    function judge(button_value) {
        document.getElementById("judge_button").style.display = "none";
        document.getElementById("next_button").style.display = "block";
        document
            .getElementById("google_hints")
            .setAttribute(
            "href",
            "https://www.google.com/search?q=" + data[index]["hints"]
            );
        if (
            document.getElementById("question").textContent == data[index]["question"]
        ) {
            if (data[index]["answer"] == button_value) {
                points += 10;
            }
            // 改ざんされた問題だった場合フラグが立つ
            if (data[index]["falsification_answer"] == "T") {
                falsification = true;
                if (data[index]["answer"] == button_value) {
                    // 改ざんされた問題で正解した場合のフラグ
                    wrong_answer = true;
                }
            }
            // すでに異議ありボタンを押してた場合
            if (falsification_result != "none") {
            document.getElementById("objection_action").style.display = "none";
            document.getElementById("commentary").textContent =
                data[index]["true_commentary"];
            // falsification_answerがTの場合、回答結果を逆にする
            if (data[index]["falsification_answer"] == "T") {
                document.getElementById("result").textContent =
                data[index]["answer"] == "F" ? "正解:True" : "正解:False";
            } else {
                document.getElementById("result").textContent =
                data[index]["answer"] == "T" ? "正解:True" : "正解:False";
            }
            } else {
                document.getElementById("objection_action").style.display = "block";
                document.getElementById("commentary").textContent =
                    data[index]["commentary"];
                document.getElementById("result").textContent =
                    data[index]["answer"] == "T" ? "正解:True" : "正解:False";
            }
            document.getElementById("answer").textContent =
            button_value == "T" ? "あなたの回答:True" : "あなたの回答:False";
            document.getElementById("points").textContent = "現在のポイント: " + points;
        }
    }

    function next() {
        // falsificationだった問題を無視した場合に減点される
        if (falsification && falsification_result == "none") {
            // wrong_answerがtrue・falseの場合の処理
            points -= wrong_answer ? 30 : 20;
            document.getElementById("points").textContent = "現在のポイント: " + points;
            falsification_result = "incorrect";
            // この問題は間違いでしたとどこかに文章が出る
            alert('この問題は間違いでした!')
        }
        falsification = false;
        index++;
        if (index < 5) {
            document.getElementById("question").textContent = data[index]["question"];
            document.getElementById("result").textContent = "";
            document.getElementById("commentary").textContent = "";
            document.getElementById("judge").textContent = "";
            document.getElementById("answer").textContent = "";
            document.getElementById("actual_answer").textContent = "";
            document.getElementById("actual_commentary").textContent = "";
            if (hint_click) {
                document.getElementById("hint_button").style.display = "block";
                document.getElementById("hint_text").textContent = "";
                hint_click = false;
            }
            document.getElementById("question_number").textContent = index + 1;
            document.getElementById("judge_button").style.display = "block";
            document.getElementById("objection_action").style.display = "none";
            document.getElementById("next_button").style.display = "none";
            document
                .getElementById("google_hints")
                .setAttribute("href", "https://www.google.com/search?q=");
        } else {
            // 指摘成功判定を送る処理も書く
            window.location.href = `/result/?point=${points}&falsification=${falsification_result}`;
        }
    }

    function objection() {
        document.getElementById("objection_action").style.display = "none";
        // Loading中に次へ進むのを防ぐため
        document.getElementById("next_button").style.display = "none";
        document.getElementById("objection_loading").style.display = "block";

        setTimeout(function() {
            // 2秒後の処理
            document.getElementById("next_button").style.display = "block";
            document.getElementById("objection_loading").style.display = "none";

            if (data[index]["falsification_answer"] == "T") {
                points += 20;
                document.getElementById("judge").textContent = "異議承認";
                // 指摘成功判定
                falsification_result = "correct";
                // わざと間違えたanswerを逆に表示させる
                document.getElementById("actual_answer").textContent =
                data[index]["answer"] == "T" ? "本当の正解:False" : "本当の正解:True";
            } else {
                points -= 10;
                document.getElementById("judge").textContent = "異議却下";
                // 指摘失敗判定
                falsification_result = "incorrect";
                document.getElementById("actual_answer").textContent =
                data[index]["answer"] == "T" ? "本当の正解:True" : "本当の正解:False";
            }
            document.getElementById("actual_commentary").textContent =
                data[index]["true_commentary"];
            document.getElementById("points").textContent = "現在のポイント: " + points;
        }, 2000);
    }
</script>
{% endblock %}